<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../css/layout.css">
        <link rel="stylesheet" type="text/css" href="../css/mine.css">
        <link rel="stylesheet" type="text/css" href="../css/mynote.css">
        <link rel="stylesheet" href="../css/personal.note.css" type="text/css">
  
        <script src="../script/jquery.min.js"></script>
        <script src="../script/ajax_request.js"></script>
        <script src="../script/dynamic_notelist.js"></script>
        <script src="../script/check_identify.js"></script>
        <script src="../script/tools.js"></script>
        <script src="../script/show_mask.js"></script>
        <script src="../script/personview.js"></script>
        <script src="../script/warning.js"></script>
        <script src="../script/mynote.js"></script>
        <script>
            function filter(_this){
                var notecate = _this[_this.selectedIndex].value;
                req_note(notecate);
                categoryMyNote(notecate);
            }
       
        </script>
 
 
    </head>
    <body onload="initData('全部')"  style="padding-top: 40px;margin-left: -1px;">
        
           <iframe id="tp_minenotelist" src="tp_mineNotelist.html" style="width: 0;height: 0;position: absolute;"></iframe>
           <div class="personal-main"  >

               <div class="cagItem">
                   <div id="leftline">
                   </div>
                   
                   <p class="tag1" id="CategoryName">全部</p>
                   <p class="info1">
                        ----共
                        <p class="info1" id="Cnt">0</p>
                        <p class="info1">篇笔记</p>
                    </p>

                   <p class="info1" style="margin-left: 100px;">
                        浏览
                        <p class="info1" id="View_sum">0</p>
                   </p>
                   <div class="vline"></div>
                   <p class="info1">
                       收藏
                       <p class="info1" id="Collect_sum">0</p> 
                   </p>

                   <select class="mycate" onchange="filter(this)">
                 </select>

          
               </div>
    
               <div class="note-list" style="display: block;visibility: hidden;">
                   <div class="personal-notes">   
                   <table id="personal-tb" cellspacing="0" border="0">    
                   </table>
                   </div>
               </div>
           </div>

     

    </body>
</html>