 
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/layout.css">
        <link rel="stylesheet" href="css/mask.css">
        <style>
            .mask_extend{
                box-shadow: 2px 2px 6px rgb(155, 153, 153);
            }
            .mask_warn{
                position: absolute;
                top: 0;
                background-color: rgb(214, 195, 195);
                height: 70%;
                width: 100%; 
             }
    

        </style>
    </head>
    <script>
        function jump(jumpurl) {
            document.location = jumpurl;
        }
    </script>
    <body >
         <div class="_mask_content mask_extend" style="height: 260px;" >
            <div class="mask_warn">
                <img src="image/warn_ico_title.png" 
                style="position: absolute;left: 50px;top:42%;width: 40px;height: 40px;"/>
                <label style="position: absolute;top:44%;left:140px; font-size: 24px;">{{.error}}</label>
            </div>
        <button onclick='jump("{{.jumpUrl}}")' id="btnStyle" class="btnExtern" style=" margin-top:200px;  color: rgb(95, 93, 93);">我知道了</button>
         </div>
    </body>
</html>