<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>学霸笔记</title>
        <!-- <link rel="stylesheet" type="text/css" href="./css/layout.css"> -->
        <link rel="stylesheet" type="text/css" href="./css/notedetail.css"> 
        <script src="plugins/xheditor/jquery/jquery-1.11.2.min.js"></script>
        <script src="plugins/xheditor/xheditor-1.2.2.min.js"></script>
        <script src="plugins/xheditor/xheditor_lang/zh-cn.js"></script>
        <script src="script/ajax_request.js"></script>
        <script src="script/show_mask.js"></script>
        <script src="script/tools.js"></script>
        <script src="script/warning.js"></script>
        <script src="./script/web_socket.js"></script>
        <script src="./script/notedetail.js"></script>
        <script>
      
            //查看笔记成功回调
            function view_callback(data) {
                if(!data)
                    return;
                //存储session
               sessionStorage.setItem("_ArticleId",data.ArticleId);
               sessionStorage.setItem("_Article",data.Article);
               sessionStorage.setItem("_AuthorId",data.AuthorId);
               //分类
               var title = document.getElementsByClassName("catename-title").item(0);
                title.innerText=data.Remark;
               //内容
               var content = document.getElementsByClassName("note_content").item(0);
                content.innerHTML = data["Article"]; 
               
                //当前用户显示编辑按钮
                var userId = localStorage.getItem("MyUserId");
                if (userId == data.AuthorId){
                    var contain = document.getElementsByClassName("note-detail-tools").item(0);
                    var btn = document.createElement("button");
                    btn.innerText="编辑";
                    btn.className="re_note_edit";
                    btn.addEventListener('click',edit_note);
                    contain.appendChild(btn);
                }else{
                    //显示是否收藏、打赏按钮
                    var colimg = document.getElementsByClassName("collect_img").item(0);
                    colimg.style.display="block";
                    var coinimg = document.getElementsByClassName("coin_img").item(0);
                    coinimg.style.display="block";
                }
            }
            var sock;
            //请求文章
            var authorId =getQueryVariable("authorId");
            var aid = getQueryVariable("noteid");
            var route = getQueryVariable("ope");
            send_data(route,view_callback,"noteId="+aid);
            function init_detailPage(){
                //消息通知
                // sock = new SockServ(function(e){
                //     sock.sendData(localStorage.getItem("MyUserId"),function(e){
                //     console.log("e.data:",e);
                //     localStorage.setItem("msg_cnt",e);
                // });
                // });
                //查询笔记收藏状态
                send_data("/getCollectState",function(e){
                    console.log("e",e);
                    if(e["state"] == "true"){
                        var doc = document.getElementsByClassName("collect_img").item(0);
                        doc.src="./image/collect_sel.png";
                    }
                },"noteId="+aid);
                //加载评论
                init_comment();
            }
        </script>
    </head>
    <body onload="init_detailPage()">
        <script>
            function edit_note(){
               var p_id = sessionStorage.getItem("_ArticleId");
               var p_note = sessionStorage.getItem("_Article");
               sessionStorage.setItem("ArticleId",p_id);
               sessionStorage.setItem("Article",p_note);
                window.top.document.location="mine.html?page=newnote";
            }
            
            function sel_change_state(ope){
                var doc = document.getElementsByClassName("collect_img").item(0);
                var sr = doc.src;
                var noteId = getQueryVariable("ArticleId");
                send_data("/colcel_note",function(e){
                        if(e["state"]=="success"){
                             if(sr.indexOf("collect.png") > -1){
                                doc.src="./image/collect_sel.png";
                            }else{
                                 doc.src="./image/collect.png";
                            }
                        }else{
                            show_warn("提示",e["msg"]);
                        }
                    },"noteId="+noteId+"&ope="+ope);
            }
            function sel_click(){
                var sr = document.getElementsByClassName("collect_img").item(0).src;
                 if(sr.indexOf("collect_sel.png") > -1){
                    show_warn("提示","取消收藏?",function(){
                        sel_change_state("delt_collect");
                    });
                }else{
                    sel_change_state("add_collect");
                }
            }
            //打赏框
            function show_gratuity(){
                var warn = new CWarnInfo("input");
                warn.show_warn("打赏","打赏金币数量范围[1,10]",function(arg){
                     coin = parseInt(arg,10);
                     if(coin < 1 || coin > 10){
                         show_warn("超出范围","可打赏金币数量[1,10]");
                     }else{
                         //提交
                         //获取作者id
                        var aid = sessionStorage.getItem("_AuthorId");
                        var postData = "coin="+coin+"&authorId="+aid;
                        send_data("/GiveGratuity",function(e){
                            if(e.state!="success"){
                                show_warn("提示",e.msg);
                            }
                        },postData);
                     }
                });
            }
        </script>
        <div class="note-detail-tools">
            <p class="catename-title"></p>
            <!-- <button onclick="edit_note()" class="re_note_edit" >编辑</button> -->
            <img src="./image/collect.png" onclick="sel_click()" class="collect_img">
            <img src="./image/coin.png" class="coin_img" onclick="show_gratuity()" >
        </div>
         <div  class="note_content">
        </div>
        <script>
            function send_comment(content){
                show_mask("pushing...");
                var authorId = getQueryVariable("authorId");
                var noteid = getQueryVariable("noteid");
                var comment = $("#comment").val();
                if(content){
                    comment = content;
                }
                var data = "AuthorId="+authorId+"&ArticleId="+noteid+"&Comment="+comment;
                send_data("/push_comment",function(e){
                    if(e.code == "400"){
                        show_warn("提示",e.msg);
                    }else{
                        init_comment();
                    }
                } ,data);
                hide_mask();
            }
       
        </script>
        <!-- 评论 -->
        <div style="width: 21cm;margin: 0 auto;height: 100px;margin-top: 20px;">
            <textarea id="comment" placeholder="友善发言😘" style="float: right; border: none; width: 99.5%;height: 70px; resize: none; box-shadow: 1px 2px 5px #8e8d92;"></textarea>
            <button class="commentbtn" onclick="send_comment()">发表</button>
        </div>
  
        <div class="comment-content">
            <!-- <div id="comment-item">
    
            <div class="comment-head" >
                <img src="image/coin.png" class="headimg">
                <label id="myid"></label>
                <label class="nickname">我是谁</label>
                <a class="cmt-ope" href="#">回复</a>
                <label class="comment-time" >2016</label>
            </div>
            <div class="refer-info">啥东西</div> 
            <p class="comment-info">你写的不对?</p>
            <p style="text-align: center;">加载更多</p>
        </div> -->
                    
    </div>
     </body>
</html>