<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="css/pushnext.css"/>
</head>

<body  >
    <div id="pushnext" class="backbody">
    <script>
    
    </script>
    <div class="back_content" style="background-color: white;">
        <div class="topline"></div>
        <p class="titleInfo" onclick="hide_mask()">推送笔记详情</p>
    <div id="cateInfo" >
        <p> 
        <label>一级分类:</label>
        <select class="CategoryName">
            <!-- <option value="大学">大学</option> -->
        </select>
        </p>
        <p> 
        <label>二级分类:</label>
        <select class="CategoryContain">
            <!-- <option value="大学">大学</option> -->
        </select>
        </p>
        <p> 
        <label>附加信息:</label>
        <input class="remark" type="text" placeholder="人教版-第三章">
        </p>
      
            <div  style="width:54%;margin: 0 auto; ">
                <button  class="pushnextbtn" >提交</button>
                <button  class="pushcancelbtn"  onclick="hideme()">取消</button>
            </div>
        
    </div>
    </div>
    </div>
</body>
</html>
